@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <input type = "button" id="b1" value = "Load News" style = "border:1px; color: green;" />
    <input type = "button" id="b2" value = "Un Load News" style = "border:1px; color: red;" />
    <div id = "PartialPlaceHolder"></div>
</div>
