@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Jquery
@using Jquery.Models
@model Student

<div>
    <h1>
        This is a partial view which we will load using Jquery
        The Name is @Model.Name
        The Roll No is @Model.RollNo
    </h1>
</div>