@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<h1>The input accept attribute</h1>

<form method = "post" 
    enctype = "multipart/form-data"
    asp-controller = "Home"
    asp-action = "ImageUpload">

  <label for="img">Select image:</label>
  <input type = "file" id = "img" name = "img">
  <input type = "submit" value = "Upload">
</form>
</div>
